@page "/export-data"
@using CafeStoreWeb.Data;
@using OfficeOpenXml;
@using System.IO;
@using OfficeOpenXml.Style;
@inject IJSRuntime iJsRuntime
<button class="btn btn-primary" @onclick="ExportExcelEPPlus">Export to Excel</button>

@code {
    private async void ExportExcelEPPlus()
    {
        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
        // Create Excel Workbook with data then export
        using (var excelPackage = new ExcelPackage())
        {
            // Create Excel Workbook
            var excelWorksheet = excelPackage.Workbook.Worksheets.Add("Freshman");
            // Header
            excelWorksheet.Cells[1, 1].Value = "Student name";
            excelWorksheet.Cells[1, 1].Style.Font.Size = 12;
            excelWorksheet.Cells[1, 1].Style.Font.Bold = true;
            excelWorksheet.Cells[1, 1].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            excelWorksheet.Cells[1, 2].Value = "Student Id";
            excelWorksheet.Cells[1, 2].Style.Font.Size = 12;
            excelWorksheet.Cells[1, 2].Style.Font.Bold = true;
            excelWorksheet.Cells[1, 2].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            // Record
            excelWorksheet.Cells[2, 1].Value = "Verl";
            excelWorksheet.Cells[2, 1].Style.Font.Size = 12;
            excelWorksheet.Cells[2, 1].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            excelWorksheet.Cells[2, 2].Value = "1000";
            excelWorksheet.Cells[2, 2].Style.Font.Size = 12;
            excelWorksheet.Cells[2, 2].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            // Record
            excelWorksheet.Cells[3, 1].Value = "Bertha";
            excelWorksheet.Cells[3, 1].Style.Font.Size = 12;
            excelWorksheet.Cells[3, 1].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            excelWorksheet.Cells[3, 2].Value = "1001";
            excelWorksheet.Cells[3, 2].Style.Font.Size = 12;
            excelWorksheet.Cells[3, 2].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            // Record
            excelWorksheet.Cells[4, 1].Value = "Callithria";
            excelWorksheet.Cells[4, 1].Style.Font.Size = 12;
            excelWorksheet.Cells[4, 1].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            excelWorksheet.Cells[4, 2].Value = "1002";
            excelWorksheet.Cells[4, 2].Style.Font.Size = 12;
            excelWorksheet.Cells[4, 2].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            // Record
            excelWorksheet.Cells[4, 1].Value = "Gandalf";
            excelWorksheet.Cells[4, 1].Style.Font.Size = 12;
            excelWorksheet.Cells[4, 1].Style.Border.Top.Style = ExcelBorderStyle.Hair;
            excelWorksheet.Cells[4, 2].Value = "1003";
            excelWorksheet.Cells[4, 2].Style.Font.Size = 12;
            excelWorksheet.Cells[4, 2].Style.Border.Top.Style = ExcelBorderStyle.Hair;

            // Export data
            await ExportDataFile.ExportToFileAsync(iJsRuntime, excelPackage, "MyData");
        }

    }
}
