@page "/fetchdata"
@inject IJSRuntime JsRunTime
<PageTitle>Weather forecast</PageTitle>

@using CafeStoreWeb.Data
@inject WeatherForecastService ForecastService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="section2" style="display:@Display2">
        <h1>Weather forecast2</h1>

        <p>This component demonstrates fetching data from a service.</p>


        <button onclick="exportExcel()">Call JS</button>

        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table" id="idId">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <RadzenButton type="button" Click=@(args => close2Open3())>Go to 3</RadzenButton>
    </section>
    <section id="section3" style="display:@Display3">
       <h1>Create Page</h1>
        <RadzenButton type="button" Click=@(args => close3Open2())>Go to 2</RadzenButton>
    </section>
</body>
</html>


@code {

    private WeatherForecast[]? forecasts;
    [Parameter]
    public string Display2 { get; set; } = "inherit";
    public string Display3 { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
    protected async Task JsFunction(){
        await JsRunTime.InvokeVoidAsync("exportExcel");
    }
    private void close2Open3()
    {
        Display2 = "none";
        Display3 = "inherit";
    //document.getElementById('section2').scrollIntoView({ behavior: 'auto'})
    }
    private void close3Open2()
    {
        Display2 = "inherit";
        Display3 = "none";
    }
}
