@page "/"
<h3>Bootstrap Alert Example</h3>

<div>
    <button @onclick="@DoSomthing">Show/Hide</button>
</div>

<div class="alert alert-primary @HideAlert" role="alert">
    @AlertContent
</div>

@code {
    private string HideAlert { get; set; } = "d-none";
    private string AlertContent { get; set; } = "This is a primary alert—check it out!";
    private void DoSomthing()
    {
        if (HideAlert == "")
        {
            HideAlert = "d-none";
            AlertContent = "This is a primary alert—check it out!";
        }
        else
        {
            HideAlert = "";
            AlertContent = "Hello World";
        }
    }
 }