
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.25);
}
th {
    background-color: rgba(136, 0, 255, 0.9);
    color: white
}

